/* Importation de la police */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


html,
body{
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--white);

 
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    overflow: hidden;
}




:root{
    --white: hsl(0, 0%, 100%);
}


.quotation-wrapper{
    display: grid;
    margin: 0 auto;
    padding: 100px 0;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        "one one two five"
        "three four four five";
    grid-gap: 1.5rem;
    width: min(95%, 77rem);
    
}

.quotation{
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.151);

}

.quotation-container{
    padding: 10px 0;
}

.quotation-container.title{
    font-size: 1.45rem;
}

.quotation-container.description{
    color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    line-height: 22px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-text-wrapper{
    display: flex;
    flex-direction: column;
}

.author{
    font-weight: 500;
}

.status{
    font-size: 13px;
    color: hsl(0, 0%, 81%);
}

.img-profile{
    border-radius: 100%;
    width: 35px;
}

.profile-violet-border{
    border: solid 3px hsl(263, 68%, 67%);
}


.quotation.daniel{
    position: relative;
    z-index: 1;
    background-color: hsl(263, 55%, 52%);
    grid-area: one;

}

.mark{
    position: absolute;
    top: 1px;
    right: 15%;
    z-index: -1;

}



.quotation.jonathan{
    background-color: hsl(217, 19%, 35%);
    grid-area: two;
}


.quotation.jeanette, .quotation.kira{
    background-color: var(--white);
}

.quotation.jeanette{
    grid-area: three;
}

.quotation.patrick{
    background-color: hsl(219, 29%, 14%);
    grid-area: four;

}

.quotation.kira{
    grid-area: five;
}


.black-name{
    color:  hsl(218, 21%, 23%);
}

.fonced-status{
    color: hsl(0, 0%, 59%);
}

.quotation-container.title.black{
    color:  hsl(219, 29%, 14%);
}

.quotation-container.description.black{
    color:  hsl(217, 17%, 67%);
}


.attribution{
    color: black;
    font-size: 15px;

}



@media screen and (max-width: 1430px) {
    body{
        overflow: scroll;
    }
    
    .quotation-wrapper{
        width: 85%;
        grid-template-areas: 
            "one one"
            "two five"
            "three five"
            "four four";
    }
    
}


@media screen and (max-width: 720px) {
    .quotation-wrapper{
        grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five";
    }
    
}


@media screen and (max-width: 480px) {
    .quotation-wrapper{
        width: 95%;
    }
}
